# dependencies
/node_modules

# next.js
/.next/
/.next-old/
/out/

# production
/build

# misc
.DS_Store
*.pem
.claude/

# debug
npm-debug.log*

# env files
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts
